
ðŸ’¡ **Question 1**

Given an integerÂ `n`, returnÂ *`true`Â if it is a power of two. Otherwise, returnÂ `false`*.

An integerÂ `n`Â is a power of two, if there exists an integerÂ `x`Â such thatÂ `n == 2x`.

**Example 1:**
Input: n = 1 

Output: true

**Example 2:**
Input: n = 16 

Output: true

**Example 3:**
Input: n = 3 

Output: false

In [3]:
def power_of_two(x):
    if x<=0:
        return False
    if x==1:
        return True
    if x%2==0:
        return power_of_two(x/2)
    else:
        return False

In [5]:
power_of_two(1)

True

In [6]:
power_of_two(16)

True

In [7]:
power_of_two(3)

False

ðŸ’¡ **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3 

Output: 6

**Example 2:**

Input  : 5 

Output : 15

In [8]:
def sum_of_numbers(n):
    if n<=0:
        return 0
    if n==1:
        return 1
    else:
        return n+sum_of_numbers(n-1)

In [9]:
sum_of_numbers(3)

6

In [10]:
sum_of_numbers(5)

15

In [ ]:
ðŸ’¡ **Question 3**

****Given a positive integer, N. Find the factorial of N. 

**Example 1:**

Input: N = 5 

Output: 120

**Example 2:**

Input: N = 4

Output: 24

In [11]:
def factorial(n):
    if n==1 or n==0:
        return 1
    else:
        return n*factorial(n-1)

In [12]:
factorial(5)

120

In [13]:
factorial(4)

24

ðŸ’¡ **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :** 

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

In [31]:
def exponent(n,p):
    if p==0:
        return 1
    else:
        for i in range(p):
            return n*exponent(n,p-1)

In [32]:
exponent(5,2)

25

In [33]:
exponent(2,5)

32

In [34]:
exponent(0,2)

0

In [35]:
exponent(1,2)

1

In [36]:
exponent(1,0)

1

In [37]:
exponent(2,1)

2

ðŸ’¡ **Question 5**

Given an array of integersÂ **arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

In [13]:
def max_element(x):
    l=len(x)
    if l==1:
        return x[0]
    else:
        return max(x[l-1], max_element(x[:l-1]))

In [14]:
max_element([1, 4, 3, -5, -4, 8, 6])

8

In [15]:
max_element([1, 4, 45, 6, 10, -8])

45

ðŸ’¡ **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

an=an-1+d

In [17]:
def nth_term_AP(a,d,n):
    if n==1:
        return a
    else:
        return d+nth_term_AP(a,d,n-1)

In [18]:
nth_term_AP(2,1,5)

6

In [19]:
nth_term_AP(5,2,10)

23

ðŸ’¡ **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = â€œABCâ€*

***Output:***

*â€œABCâ€, â€œACBâ€, â€œBACâ€, â€œBCAâ€, â€œCBAâ€, â€œCABâ€*

**Example 2:**

***Input:***

*S = â€œXYâ€*

***Output:***

*â€œXYâ€, â€œYXâ€*

In [20]:
def permutations(remaining, candidate=''):
 
    if len(remaining) == 0:
        print(candidate)
 
    for i in range(len(remaining)):
 
        newCandidate = candidate + remaining[i]
        newRemaining = remaining[0:i] + remaining[i+1:]
 
        permutations(newRemaining, newCandidate)

In [24]:
S = "ABC"
permutations(S)

ABC
ACB
BAC
BCA
CAB
CBA

In [25]:
S="AB"
permutations(S)

AB
BA

ðŸ’¡ **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

In [26]:
def product(a):
    l=len(a)
    if l==1:
        return a[0]
    else:
        return a[l-1]*product(a[:l-1])

In [27]:
product([1, 2, 3, 4, 5])

120

In [28]:
product([1,6,3])

18